* {
    margin: 0;
    padding: 0;
}
.nav-bar {
    background: #003666;
    height: 800px;
    width: 20%;
}
h1 {
    display: flex;
    justify-content: center;
    font-size: 32px;
    color: #fff;
    padding: 30px;
}

a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.item {
    display: flex;
    justify-content: flex-start;
    padding: 16px 0;
    padding-left: 20px;
}

.item:hover {
    background: #0088ffcb;
    cursor: pointer;
}

